 {% extends 'template.html.twig' %}








{% block body %}


<!-- Main content -->
 <div class="content-wrapper">

     {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
 



    <!-- Content area -->









    <div class="content">
        <div class="mb-3">
                            <div class="page-header page-header-dark" style="border: 1px solid #ddd; border-bottom: 0;">
                                <div class="page-header-content header-elements-inline">
                                    <div class="page-title">
                                        <h5>
                                            <i class="icon-arrow-left52 mr-2"></i>
                                            <span class="font-weight-semibold">Ajouter un utilisateur</span> 
                                            <small class="d-block opacity-75">    </small>
                                        </h5>
                                    </div>

                                    <div class="header-elements d-flex align-items-center">
                                        <button type="submit" class="btn btn-secondary"><i class="icon-diff-added">  VALIDER</i></button>
                                    </div>
                                </div>

                                <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                                    <div class="d-flex">
                                        <div class="breadcrumb">
                                            <a href="{{ path('home')}}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                                            <a href="" class="breadcrumb-item">Administrateur</a>
                                            <span class="breadcrumb-item active">Add</span>
                                        </div>

                                        
                                    </div>

                                    <div class="header-elements d-none">
                                        <div class="breadcrumb justify-content-center">
                                        
                                        
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>














            <div class="content">
                <div class="card">
        
                    <div class="card-body">
                

                
                        <form action="#">
                            <fieldset class="mb-3">
                        <legend class="text-uppercase font-size-sm font-weight-bold">Formulaire</legend>

                    
                    
                        <div class="form-group row">
                            <label class="col-form-label col-md-2">Nom d'utilisateur</label>
                            <div class="col-md-10">
                                {{ form_errors(form.username)}}
                               {{ form_widget(form.username,{'label': 'Nom d\'utilisateur' ,'attr':{'placeholder': 'Nom d\'utilisateur ...'}}) }}
                            </div>
                        </div>  




                            <div class="form-group row">
                            <label class="col-form-label col-md-2">Adresse email</label>
                            <div class="col-md-10">
                               {{ form_errors(form.email)}}
                                {{ form_widget(form.email, {'label': 'Adresse email' ,'attr':{'placeholder': 'Adresse email ...'}})  }}
                            </div>
                        </div>



                        
                        <div class="form-group row">
                            <label class="col-form-label col-md-2">Mot de passe</label>
                            <div class="col-md-10">
                               {{ form_errors(form.password)}}
                              {{ form_widget(form.password, {'label': 'Mot de passe' ,'attr':{'placeholder': 'Mot de passe !'}}) }}
                            </div>
                        </div>




            


                            
                        <div class="form-group row">
                            <label class="col-form-label col-md-2">Confirmer mot de passe</label>
                            <div class="col-md-10">
                               {{ form_errors(form.confirm_password)}}
                              {{ form_widget(form.confirm_password, {'label': 'Confirmation du mot de passe' ,'attr':{'placeholder': 'Répétez votre mot de p..'}}) }}
                            </div>
                        </div>
                        
                       



                      

                    

                    </fieldset>
            
                    
                    <div class="text-right">
                        <button type="submit" class="btn btn-primary">Submit <i class="icon-paperplane ml-2"></i></button>
                    
                    </div>
                        {{ form_end(form) }}
                </form>
            </div>
        </div>
        <!-- /form inputs -->


    </div>
    <!-- /content area -->

</div>
<!-- /main content -->


{% endblock %}

